/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/global.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.cdnfonts.com/css/sudo-var');


@font-face {
  font-family: 'Offside';
  src: url(webpack:///mini-css-extract-plugin//_next/static/media/Offside-Regular.e95d7b38.ttf);
}


@font-face {
  font-family: 'Maharlika';
  src: url(webpack:///mini-css-extract-plugin//_next/static/media/Maharlika-Regular.0dfcdd99.ttf);
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;  
}

.html, body {
  background: 
      linear-gradient(150deg, rgba(207, 157, 246, 0.8), rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(300deg, rgba(255, 255, 255, 0), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(30deg, rgba(148, 171, 241, 1), rgba(0, 0, 255, 0) 70.71%);
}

/* .html, body {
  background: linear-gradient(to bottom, #CF9DF6, #94ABF1);
}
  
body::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 600px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(50%, -50%);
  border-radius: 50%;
  filter: blur(100px);
} */



















.content-box {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}


/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/






/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}



/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/RoundedBackground.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/


.box {
  box-sizing: border-box;
  background-color: rgba(126, 126, 126, 0.7);
  border-radius: 30px;
  color: black;
  width: 93.5%; /* Adjust width as needed */
  height: 92.9%; /* Adjust height as needed */
  opacity: 0.7;

  /* Centering the box horizontally and vertically */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


body{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}


/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Navbar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.header-container {
  box-sizing: border-box;
  background-color: rgba(48, 77, 65, 0.36); /* 36% opacity */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.7;
  justify-content: center;
  border-radius: 30px 30px 0px 0px;
  color: black;
  text-align: center;
  width: 93.5vw;
  height: 11.6vh;
  position: fixed;
  top: 9.3644%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.navbar-logo img {
  width: 50px; /* Adjust the width as needed */
}
.navbar-links {
  display: flex;
}
.navbar-icon {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 50px; /* Increase spacing between icons */
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: 'SudoVar';
  align-items: center;
  position: relative;
  top: 25%;
}
.navbar-icon img {
  width: 35px; /* Adjust icon size as needed */
  margin-bottom: 0px; /* Adjust space between icon and text as needed */
}
@font-face {
  font-family: 'Offside';
  src: url(/_next/static/media/Offside-Regular.e95d7b38.ttf);
}
@font-face{
  font-family: 'SudoVar';
  src: url(/_next/static/media/SudoVariable.2ea4e00e.ttf);
}
/* Your existing CSS */
.header-container {
  box-sizing: border-box;
  background-color: rgba(48, 77, 65, 0.36);;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.7;
  justify-content: center;
  border-radius: 30px 30px 0px 0px;
  color: black;
  text-align: center;
  width: 93.5vw;
  height: 11.6vh;
  position: fixed;
  top: 9.3644%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-logo {
  font-family: 'Offside';
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 100;
  padding-left: 25px;
}
.navbar-links {
  display: flex;
}
.navbar-icon:hover,
.navbar-logo:hover {
  color: silver;
}
.navbar-icon:hover img,
.navbar-logo:hover img {
  filter: brightness(100%);
}
.navbar-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 100;
  margin-right: 45px; /* Increase spacing between icons */
  text-decoration: none;
  color: #fff;
  font-family: 'SudoVar';
}
.navbar-icon img {
  width: 30px; /* Adjust icon size as needed */
  margin-right: 3px; /* Adjust space between icon and text as needed */
}
/* Add this CSS to remove border from the login button */
.login-button {
  border: none; /* Remove border */
  font-size: 21px;
  margin-right: 35px;
  font-family: 'SudoVar';
  cursor: pointer;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/LoginButton.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.login-button:hover{
    color: silver;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/degreeplan/degreeplan.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* style.css */

.taken-container{
  margin-left: 10px;
}

.content {
  flex: 1 1; /* Make the content div expand to fill the remaining space */
  padding: 20px; /* Add padding to the content */
  margin-top: 85px;
  margin-left: 120px;
  margin-right: 120px;
  overflow-y: scroll;
  max-width: 1700px;
  background-color: rgba(144, 130, 130, 0.224);
  border-radius: 30px;
}

.allClasses {
  /* Adjust styles for the second div as needed */
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
  background: rgba(213, 213, 213, 0.253); /* Background color */
  border-radius: 30px; /* Adjust the border radius to control the roundness */
  box-shadow: none;
  min-width: 450px;
  height:500px;
  position: relative; /* Ensure elements are positioned relative to their container */
  display: flex; /* Use flexbox layout */
  flex-direction: column;
  align-items: flex-start;
  overflow-y:auto;
}


.flexContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: auto; 
}

.semester {
margin: 20px;
background: rgba(213, 213, 213, 0.253); 
border-radius: 30px;
position: relative;
display: flex;
justify-content: flex-start;
overflow-y: auto; /* Enable vertical scrolling */
padding: 160px; /* This padding can be adjusted as needed */
padding-bottom: 250px; /* This padding can be adjusted as needed */
min-width: 150px; /* Set a minimum width if necessary */
width: 90%; /* Set the desired width */
max-width: 10px; /* Adjust the maximum width as needed */
align-items: center;
}

.specialHeader{
margin:15px;
display: flex;
flex-direction: column;
align-items: flex-start;
color: #ffffff72;
letter-spacing: -1px;
font-weight:550;
font-size: 2.4rem; 
}

.semesterHeader{
color: #ffffff72;
position: absolute;
top: 12px; /* Adjust as needed */
left: 25px; /* Adjust as needed */
letter-spacing: -1px;
font-weight:550;
font-size: 2.1rem; 
margin-top: 0;

}

/* Image styles */
.whiteStar {
width: 40px; /* Set the desired width */
height: auto; /* Maintain aspect ratio */
vertical-align: middle;

}

/* Text link styles */
li {
text-decoration: none;
}

.button-div {
  display: flex;
  margin-left: 13px;
}

.generate-button {
  background-color: rgba(166, 103, 182, 0.755) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 443px;
  height: 60px;
}

.generate-button:hover {
  transition: 0.05s;
  background-color: rgba(122, 72, 136, 0.755) !important;
}

.loading-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  animation: loading 1.4s infinite ease-in-out both;
}

.loading-circle:nth-child(1) {
  animation-delay: -0.32s;
}

.loading-circle:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes loading {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/classes.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/

.truncate {
overflow: hidden;
text-overflow: ellipsis;
}

.dropArea{

background: none; /* Background color */
border-radius: 15px; /* Adjust the border radius to control the roundness */
width:425px;
min-height: 370px;
position:absolute;
top:55px;
left:20px;
justify-content: center; /* Aligmn items at the start of the flex container */
}


.classes{
  color: rgba(0, 0, 0, 0.524);
  /* Adjust styles for the second div as needed */
  margin-left: 15px ;
  background: rgba(119, 142, 242, 0.274); /* Background color */
  border-radius: 20px; /* Adjust the border radius to control the roundness */
  width:400px;
  min-height: 100px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.123); /* Add a subtle box shadow for depth */
  position: relative; /* Ensure elements are positioned relative to their container */
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap;
  justify-content:flex-start;
  flex-direction: column;
  overflow-y:hidden;
  margin-bottom: 15px;
}

.dragging{
  opacity: 0 !important; /* Ensure full opacity */
  background-color: #ffffff00 !important; /* Ensure original background color */
  border: 2px solid #00000000 !important; /* Ensure original border */
  /* Add any other necessary styling to maintain original appearance */
}

.TNTtext{
  margin-left: 9px;
}

.TNT{
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: #0AB28A;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */

}

.TContainer {
  position: absolute; /* Position the T container absolutely */
  top: -30px; /* Adjust top position */
  right: 15px; 
}

.saved{
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin:25px 15px 0 0;
  border-radius: 4px;
  background-color: #0AB28A;
}

 .classTitle{
  margin-left: 12px;
  margin-top: 2px;
  text-overflow: ellipsis;
  font-style: italic;
  }

  .desc{
    margin-left: 12px;
    margin-top: -2px;
    text-overflow: ellipsis;
    
    }

  .classNum{
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }
  
  .desc{
  font-size: 12px;
  }
  
  .classNum{
  font-size: 30px;
  }


  .dropArea.drag-over {
    border: 2px solid #33333384; /* Example border style when item is being dragged over */
}

.droppedItem.drag-over-item {
    opacity: 1.3; /* Example opacity for dropped items when item is being dragged over */
}

.specialHeader{
  margin:15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff72;
  letter-spacing: -1px;
  font-weight:550;
  font-size: 2.4rem; 
  }
  
  .semesterHeader{
  color: #ffffff72;
  position: absolute;
  top: 12px; /* Adjust as needed */
  left: 25px; /* Adjust as needed */
  letter-spacing: -1px;
  font-weight:550;
  font-size: 2.1rem; 
  margin-top: 0;
  
  }
  
