.chat-container {
  position: relative;
}

.message {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: #f1f0f0;
  color: black;
}

.bot-message {
  align-self: flex-start;
  background-color: #ab7de0;
  color: white;
}

.chat-output {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e1f3114;
  opacity: 0.7;
  width: 65.6vw;
  height: 43vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.text-field {
  position: fixed;
  top: 87.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 6.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.text-field input[type="text"] {
  padding: 1vw 2vw;
  width: 62.6vw;
  display: block;
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: 'SudoVar';
  font-size: 20px;
  outline: none;
}


.text-field input[type="text"]::placeholder {
  font-family: 'SudoVar'; 
  font-size: min(2.5vw, 20px);
  color: rgba(0, 0, 0, 0.35);
  text-align: left;
}

.submit-container button {
  position: absolute;
  right: 0px;
  transform: translateY(-500%);
  padding-right: min(calc(8%), 50px);
  border: none;
  background: none;
}

.submit-container button::before {
  content: '';
  position: absolute;
  width: 2.5vw;
  height: 20px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="36" height="31" viewBox="0 0 36 31"%3E%3Cpath d="M2.49811 4.12169L8.43298 14.5077C8.70983 14.9922 8.84825 15.2344 8.84825 15.5C8.84825 15.7656 8.70983 16.0078 8.43299 16.4923L2.49811 26.8783C1.25981 29.0453 0.640655 30.1289 1.12348 30.6662C1.6063 31.2035 2.74962 30.7033 5.03624 29.7029L33.3119 17.3323C35.1074 16.5468 36.0051 16.154 36.0051 15.5C36.0051 14.846 35.1074 14.4532 33.3118 13.6677L5.03624 1.2971C2.74962 0.296707 1.6063 -0.203492 1.12348 0.333828C0.640655 0.871147 1.25981 1.95466 2.49811 4.12169Z" fill="rgba(48, 77, 65, 0.56)" /%3E%3C/svg%3E');  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}


.submit-container button:hover::before {
  filter: grayscale(100%) brightness(0);
}


.save-button::before{
  content: ''; 
  position: absolute;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="53" height="51" viewBox="0 0 53 51" fill="none"><path d="M22.7619 15.3423C24.1799 11.9408 24.8888 10.2401 26.0406 10.0044C26.3435 9.94239 26.6565 9.94239 26.9594 10.0044C28.1112 10.2401 28.8202 11.9408 30.2381 15.3423C31.0444 17.2766 31.4476 18.2438 32.202 18.9016C32.4136 19.0861 32.6433 19.2505 32.8878 19.3923C33.7598 19.898 34.8482 19.9918 37.0252 20.1794C40.7104 20.497 42.553 20.6558 43.1156 21.6667C43.2322 21.8761 43.3114 22.1028 43.35 22.3374C43.5366 23.4701 42.182 24.656 39.4729 27.0277L38.7205 27.6863C37.454 28.7952 36.8207 29.3496 36.4544 30.0415C36.2346 30.4566 36.0873 30.9035 36.0183 31.3646C35.9032 32.1332 36.0886 32.9375 36.4595 34.5461L36.592 35.1208C37.2572 38.0055 37.5898 39.4479 37.1746 40.1569C36.8017 40.7937 36.1148 41.2015 35.356 41.2363C34.5113 41.2751 33.321 40.3419 30.9405 38.4753C29.3721 37.2455 28.5879 36.6306 27.7174 36.3904C26.9218 36.1709 26.0782 36.1709 25.2826 36.3904C24.4121 36.6306 23.6279 37.2455 22.0595 38.4753C19.679 40.3419 18.4887 41.2751 17.644 41.2363C16.8852 41.2015 16.1983 40.7937 15.8254 40.1569C15.4103 39.4479 15.7428 38.0056 16.408 35.1208L16.5405 34.5461C16.9114 32.9375 17.0968 32.1332 16.9818 31.3646C16.9127 30.9035 16.7654 30.4566 16.5457 30.0415C16.1794 29.3496 15.5461 28.7952 14.2795 27.6863L13.5272 27.0277C10.818 24.656 9.46343 23.4701 9.64997 22.3374C9.68861 22.1028 9.76784 21.8761 9.88438 21.6667C10.4471 20.6558 12.2897 20.497 15.9748 20.1794C18.1518 19.9918 19.2402 19.898 20.1122 19.3923C20.3567 19.2505 20.5864 19.0861 20.798 18.9016C21.5524 18.2438 21.9556 17.2766 22.7619 15.3423Z" fill="%232E1F31" fill-opacity="0.7" stroke="%232E1F31" stroke-opacity="0.7" stroke-width="2"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}


.save-container button {
position: absolute;
top: 7%;
right: 6%;
transform: translateY(-500%);
}


.save-container button {
border: none;
background: none;
}

.save-container button::before {
content: '';
position: absolute;
width: min(3vw, 30px);
height: 50px;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='36' height='34' fill='none' viewBox='0 0 36 34'%3e%3cpath fill='rgba(48, 77, 65, 0.56)' stroke='rgba(48, 77, 65, 0.56)' stroke-width='2' d='M14.129 6.384c1.418-3.401 2.127-5.102 3.279-5.338.302-.061.615-.061.918 0 1.152.236 1.861 1.937 3.28 5.338.805 1.935 1.209 2.902 1.963 3.56.212.184.441.349.686.49.872.506 1.96.6 4.137.788 3.685.317 5.528.476 6.09 1.487.117.21.196.436.235.67.187 1.133-1.168 2.32-3.877 4.69l-.753.66c-1.266 1.108-1.9 1.663-2.266 2.355-.22.415-.367.862-.436 1.323-.115.768.07 1.573.441 3.181l.133.575c.665 2.885.998 4.327.583 5.036a2.22 2.22 0 0 1-1.819 1.08c-.845.038-2.035-.895-4.415-2.762-1.569-1.23-2.353-1.844-3.224-2.084a4.584 4.584 0 0 0-2.434 0c-.87.24-1.655.855-3.223 2.084-2.381 1.867-3.571 2.8-4.416 2.761A2.22 2.22 0 0 1 7.192 31.2c-.415-.709-.082-2.151.583-5.036l.132-.575c.371-1.608.557-2.413.442-3.181a4.137 4.137 0 0 0-.436-1.323c-.367-.692-1-1.247-2.267-2.355l-.752-.66C2.185 15.7.83 14.513 1.017 13.38a2.07 2.07 0 0 1 .234-.67c.563-1.011 2.406-1.17 6.09-1.487 2.178-.188 3.266-.282 4.138-.788.245-.141.474-.306.686-.49.754-.658 1.158-1.625 1.964-3.56Z'/%3e%3c/svg%3e");
background-size: contain;
background-repeat: no-repeat;
z-index: 1;
}

.save-container button:hover::before {
filter: grayscale(100%) brightness(0);
}

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.loading-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4a22ba !important;
  margin: 0 5px;
  animation: loading 1.4s infinite ease-in-out both;
}

.loading-circle:nth-child(1) {
  animation-delay: -0.32s;
}

.loading-circle:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes loading {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}