.chat-container {
  position: relative;
}

.message {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: #f1f0f0;
  color: black;
}

.bot-message {
  align-self: flex-start;
  background-color: #ab7de0;
  color: white;
}

.chat-output {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(61, 51, 64);
  width: 65.6vw;
  height: 43vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 15px;
  
  box-shadow: inset 0 0 10px #0b0b0b;
}

.text-field {
  position: fixed;
  top: 87.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 6.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.text-field input[type="text"] {
  padding: 1vw 2vw;
  width: 62.6vw;
  display: block;
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: 'SudoVar';
  font-size: 20px;
  outline: none;
}

.text-field input[type="text"]::placeholder {
  font-family: 'SudoVar'; 
  font-size: min(2.5vw, 20px);
  color: rgba(0, 0, 0, 0.35);
  text-align: left;
}

.submit-container button {
  position: absolute;
  right: 0px;
  transform: translateY(-500%);
  padding-right: min(calc(8%), 50px);
  border: none;
  background: none;
}

.submit-container button::before {
  content: '';
  position: absolute;
  width: 2.5vw;
  height: 20px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="36" height="31" viewBox="0 0 36 31"%3E%3Cpath d="M2.49811 4.12169L8.43298 14.5077C8.70983 14.9922 8.84825 15.2344 8.84825 15.5C8.84825 15.7656 8.70983 16.0078 8.43299 16.4923L2.49811');
}
