input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #2E1F31;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


input[type=submit]:hover {
    background-color: #3c0b3c;
  }

  ::placeholder {
    color: rgb(210, 207, 207);
    font-size: 19px;
    font-family: 'Sudo Var', sans-serif;  
  }