@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url('../app/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Maharlika';
  font-weight: 300;
  src: url('../app/fonts/Maharlika-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Sudo Var';
  font-weight: 300;
  src: url('../app/fonts/SudoVariable.ttf') format('truetype');
}

@layer utilities{
    
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;  
}

html, body {
  background: 
      linear-gradient(150deg, #ccedcb, rgba(255, 0, 0, 0) 70.71%),
      linear-gradient(300deg, #62946B, rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(30deg, #2a694a, rgba(0, 0, 255, 0) 70.71%);
}





/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

