
.truncate {
overflow: hidden;
text-overflow: ellipsis;
}

.dropArea{

background: none; /* Background color */
border-radius: 15px; /* Adjust the border radius to control the roundness */
width:425px;
min-height: 370px;
position:absolute;
top:55px;
left:20px;
justify-content: center; /* Aligmn items at the start of the flex container */
}


.classes{
  color: rgba(0, 0, 0, 0.524);
  /* Adjust styles for the second div as needed */
  margin-left: 15px ;
  background: rgba(119, 142, 242, 0.274); /* Background color */
  border-radius: 20px; /* Adjust the border radius to control the roundness */
  width:400px;
  min-height: 100px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.123); /* Add a subtle box shadow for depth */
  position: relative; /* Ensure elements are positioned relative to their container */
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap;
  justify-content:flex-start;
  flex-direction: column;
  overflow-y:hidden;
  margin-bottom: 15px;
}

.dragging{
  opacity: 0 !important; /* Ensure full opacity */
  background-color: #ffffff00 !important; /* Ensure original background color */
  border: 2px solid #00000000 !important; /* Ensure original border */
  /* Add any other necessary styling to maintain original appearance */
}

.TNTtext{
  margin-left: 9px;
}

.TNT{
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: #0AB28A;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */

}

.TContainer {
  position: absolute; /* Position the T container absolutely */
  top: -30px; /* Adjust top position */
  right: 15px; 
}

.saved{
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin:25px 15px 0 0;
  border-radius: 4px;
  background-color: #0AB28A;
}

 .classTitle{
  margin-left: 12px;
  margin-top: 2px;
  text-overflow: ellipsis;
  font-style: italic;
  }

  .desc{
    margin-left: 12px;
    margin-top: -2px;
    text-overflow: ellipsis;
    
    }

  .classNum{
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }
  
  .desc{
  font-size: 12px;
  }
  
  .classNum{
  font-size: 30px;
  }


  .dropArea.drag-over {
    border: 2px solid #33333384; /* Example border style when item is being dragged over */
}

.droppedItem.drag-over-item {
    opacity: 1.3; /* Example opacity for dropped items when item is being dragged over */
}

.specialHeader{
  margin:15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff72;
  letter-spacing: -1px;
  font-weight:550;
  font-size: 2.4rem; 
  }
  
  .semesterHeader{
  color: #ffffff72;
  position: absolute;
  top: 12px; /* Adjust as needed */
  left: 25px; /* Adjust as needed */
  letter-spacing: -1px;
  font-weight:550;
  font-size: 2.1rem; 
  margin-top: 0;
  
  }
  